@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap');



body {
    position: relative;
    margin: 0;
    height: 300vh;
    overflow: hidden;
    background: linear-gradient(141deg, #212d3e 0%, #000000 75%);
}



.fonte {
    font-family: 'Sofia Sans', sans-serif;
}



.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }


.minhaImg {
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    border-radius: 30px;
}  

.animated-content {
    transition: opacity 1s ease-in-out;
}

.centralize {
    display: flex;
    align-items: center;
    justify-content: center 
}


#nome {
    position: absolute;
    margin-top: 800px;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 49px;
    color: aliceblue;
    white-space: nowrap

}


#alias {
    position: absolute;
    margin-top: 870px;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 42px;
    color: aliceblue;
    
}


.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
   
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}





.tela2{
    position: relative;
}

.sobreMim {
    position: absolute;
    font-size: 42px;
    color: aliceblue;
    font-family: 'Sofia Sans', sans-serif;
}

.textoSobreMim {
    position: absolute;
    top: 100px;
    color: aliceblue;
    font-size: 22px;
    font-family: 'Sofia Sans', sans-serif;
}



.fadeImage {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}



.foto {
    position: absolute;
    top: 300px;
  
}


.tela3{
    position: relative;
    top: 2190px;
}

.skills {
    display: flex;
    justify-content: center;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 42px;
    color: aliceblue;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.fotoSkill {
    height: 150px;
    width: 150px;
}

@media screen and (max-width: 767px) {
    #uam {
        display: flex;
        left: 50%;
        transform: translateX(-50%);
    }

    #cnsl {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }

    .foto {
        margin-top: 300px;
    }
}

.card {
    background-color: #051933;
}



.footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 4rem;    
    background-color: #051933; 
}

.footer > a > img  {
    position: absolute;
    right: 10px;
    height: 50px;
}

#linkedinLink > img{
    margin-right: 90px;
}

.email {
    position: absolute;
    top: 30%;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 22px;

}

